html {

  
  
display: grid;
justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    
    }
  /* The Universal Selector */
*, *::before, *::after { 
  
    box-sizing: inherit;
  }
  
:root {
    font-size: 62.5%;
  }

body {
display: grid;
width: 400px;
border: groove;
height: 200px;

}
  h1 {
    font-family: 'Stalinist One';
    font-size: 37px;
    display: grid;
    justify-content: center;
  }
  h2 {
    display: grid;
    justify-content: center;
    font-size: 17px;
  }
ul {
  display: grid;
   font-size: 20px;
   font-family: 'Amatic SC'
   
}

input {
  height: 20px;
  width: 200px;
  padding: 5px;
  display: grid;
  align-self: center;
}
section {
  display: grid;
  align-self: center;
position: static;
    padding: 10px;
   justify-content: space-around;
   
}
img {
 max-width: 100%;
 
}

.img-fluid { max-width: 100%;
}

button {
  flex-direction: column;
  align-items: center;
  transition-duration: 0.4s;
  

  padding: 10px;
}
button:hover {
  background-color: grey; 
  color: white;
 
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  
}
